#hello {
    display: inline-block;
    height: 100px;
    width: 150px;
    background-color: yellow;
    margin: 0;
}

#world {
    display: inline-block;
    height: 100px;
    width: 150px;
    background-color: lightblue;
    margin: 0;
}

.container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.one {
    background-color: wheat;
}
.two {
    background-color: wheat;
}
.three {
    background-color: wheat;
}
