body {
    font-family: "Poppins", sans-serif;
    /*margin: 50px 50px 0 50px;*/
    background-color: #faf9f6;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 95vh;*/
}

.main {
    /*flex: 1;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 310px 210px;
}

.mylogo {
    grid-column: span 2;
}

.myheader {
    grid-column: span 2;
    margin-top: 10px;
}

.left {
    grid-column: span 1;
    width: 70%;
}

.right {
    grid-column: span 1;
    width: 70%;
}

.card-title {
    padding-left: 10px;
    
}

h1 {
    font-size: 5rem;
    margin-left: 50px;
    margin-top: 0px;
}

.creative {
    color:darkblue;
    margin: 30px;
}


.tile-image {
    height: 200px;
    width: 200px;
    float: left;
}

img {
    margin-left: 50px;
    margin-top: 0px;
}

footer {
    columns: span 2;
    text-align: right;
    color: midnightblue;
}

